sudo: false

language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - hhvm

env:
  matrix:
    - PREFER_LOWEST="--prefer-lowest"
    - PREFER_LOWEST=""

before_script:
  - composer self-update
  - composer update --prefer-source $PREFER_LOWEST

script:
  - ./vendor/bin/phpunit --coverage-clover ./build/logs/clover.xml
  - ./vendor/bin/phpcs --standard=PSR2 ./src/

after_script:
  - php vendor/bin/coveralls -v

notifications:
  irc: "irc.freenode.org#zftalk.modules"
  email: true

matrix:
  allow_failures:
    - php: hhvm
